<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <script type="text/javascript" src="/app.js"></script>
  <script type="text/javascript" src="/movies.json"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <div class="container">
    <h1 class="page-title">
      Recomenda Flix
    </h1>
    <h1 class="page-title">
      Sua página de recomendações favoritas
    </h1>
    </p>
    <div class="form-wrapper">
      <input type="text" id="filme" name="filme" placeholder="Insira endereço de imagem">
      <button onClick="adicionarFilme()">Adicionar Filme</button>
      <button onClick="pesquisarFilme()">Pesquisar Filme</button>
    </div>
  </div>
  <div id="listaFilmes"></div>
  <fieldset>
    <legend>Comentário</legend>
    <p>
      <label for="text"><em class="required"></em></label>
      <textarea name="text" id="text" cols="100" rows="15"></textarea>
    </p>
  </fieldset>
</body>

</html>